<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <h6>Test the InAppBrwowser</h6>

  <p>Push the Button to open InAppBrowser-Modal.</p>

    <div id="container">
      <ion-button (click)="openIonicDocs()">Start with Ionic</ion-button>
    </div>
</ion-content>